/* Instagram Focus Mode */

/* Hide Main Feed Posts */
body.nil-ig-no-feed main[role="main"]>section>div>div:nth-child(2),
/* Typical Feed container */
body.nil-ig-no-feed article[role="presentation"] {
    display: none !important;
}

/* Hide Stories Bar (Top) */
body.nil-ig-no-stories main[role="main"]>section>div>div:nth-child(1),
body.nil-ig-no-stories div[role="menu"] {
    display: none !important;
}

/* Hide Explore Grid */
body.nil-ig-no-explore main[role="main"]>div>div:first-child {
    display: none !important;
}

/* Hide Reels Tab */
body.nil-ig-no-reels a[href*="/reels/"] {
    display: none !important;
}